@model VueHr.Models.AttendanceConfiguration

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AttendanceConfiguration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateGracePeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateGracePeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoLatesOrUndertime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoLatesOrUndertime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoundOffLates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundOffLates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TardinessMultiplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TardinessMultiplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseTardinessBrackets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseTardinessBrackets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumBreakTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumBreakTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequireLunchBreakAfter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequireLunchBreakAfter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeHasNoAbsent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeHasNoAbsent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredWorkingHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredWorkingHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HalfDayIfTardinessReached)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HalfDayIfTardinessReached)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbsentIfTardinessReached)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbsentIfTardinessReached)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowOffsettingOfOt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowOffsettingOfOt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OvertimeMultiplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OvertimeMultiplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalMinutesBeforeOt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalMinutesBeforeOt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedTimeInEarlyOffset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedTimeInEarlyOffset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartOfScheduleOffset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartOfScheduleOffset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
